/* prompt-regular */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;  
  src: local('Prompt Regular'), local('Prompt-Regular'),
    url('@{font-path}/prompt/Prompt-Regular.ttf') format('truetype')
}
/* prompt-italic */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 400;
  src: local('Prompt Italic'), local('Prompt-Italic'),
    url('@{font-path}/prompt/Prompt-Italic.ttf') format('truetype')
}
/* prompt-300 */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;  
  src: local('Prompt Light'), local('Prompt-Light'),
    url('@{font-path}/prompt/Prompt-Light.ttf') format('truetype')
}
/* prompt-300italic */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 300;
  src: local('Prompt Light Italic'), local('Prompt-LightItalic'),
    url('@{font-path}/prompt/Prompt-LightItalic.ttf') format('truetype')
}
/* prompt-600 */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
    url('@{font-path}/prompt/Prompt-Medium.ttf') format('truetype')
}
/* prompt-600italic */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 600;
  src: local('Prompt SemiBold Italic'), local('Prompt-SemiBoldItalic'),
    url('@{font-path}/prompt/Prompt-MediumItalic.ttf') format('truetype')
}
/* prompt-700 */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  src: local('Prompt Bold'), local('Prompt-Bold'),
    url('@{font-path}/prompt/Prompt-Bold.ttf') format('truetype')
}
/* prompt-700italic */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-weight: 700;
  src: local('Prompt Bold Italic'), local('Prompt-BoldItalic'),
    url('@{font-path}/prompt/Prompt-BoldItalic.ttf') format('truetype')
}

@font-path: "../../fonts";
